.filters {
    text-align: right;
    button:first-child {
        margin-right: 20px;
    }
}
.remove {
    width: 100%;
    display: flex;
    & > div:first-child {
        bottom: -24px;
        position: relative;
        margin-right: 20px
    }
    & > div:last-child {
        width: 100%;
    }
}
